.profile {
    max-width: 40rem;
    margin: 0 auto;

    padding-bottom: 5rem;
}

.profile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    

    padding: 2rem;
    border-bottom: 1px solid #363636;
}

.profile__header img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.profile__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 0.7rem;
}

.profile__description p {
    text-align: start;
    max-width: 400px;
}

.profile__description p::first-letter {
    text-transform: uppercase;
}

.profile__description h2 {
    text-transform: capitalize;
    text-align: start;
}

.profile__publications {
    width: 100%;
    text-align: start;
}

.profile__description h2,
.profile__description p,
.profile__publications span {
    font-weight: 500;
    font-style: italic;
}

.new__photo {
    display: flex;
    flex-direction: column;

    row-gap: 1rem;
    margin-top: 1rem;

}

.new__photo form {
    display: flex;
    flex-direction: column;

    row-gap: 1rem;
}

.new__photo h3 {
    text-align: start;
    margin-bottom: 0.5rem;
}





@media (max-width: 585px) {
    .profile__header {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0.8rem;
    }

    .profile__description h2,
    .profile__description p,
    .profile__publications,
    .new__photo h3 {
        text-align: center;
    }

    
}
