.photo__item {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    border-radius: 4px;
}

.home .photo__item h2 {
    margin-bottom: 0.4rem;
}

.info__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;

    padding: 1rem 0;
}

.info__container h2 {
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

.photo__item h2,
.photo__author {
    font-style: italic;
} 

.photo__author a {
    transition: 0.5s;
    font-weight: bold;

}

.photo__author a:hover {
    color: rgb(199, 192, 192);
} 

.photo__item img {
    max-width: 100%;
    border-radius: 4px;
}